/* Error: expected "{".
 *     ,
 * 106 |     grid-template-rows: 280px auto auto auto auto;
 *     |                                                  ^
 *     '
 *   scss\_css_anterior.scss 106:47  @import
 *   scss\main.scss 3:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 106 \2502      grid-template-rows: 280px auto auto auto auto;\d\a     \2502                                                   ^\a     \2575 \a   scss\\_css_anterior.scss 106:47  @import\a   scss\\main.scss 3:9              root stylesheet';
}
